body {
  @import url('https://fonts.googleapis.com/css?family=Nunito');
  font-family: 'Nunito', sans-serif;
}

.app {
  display: block;
  margin: auto;
  text-align: center;
  width: 80%;

  .button {
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
    padding: 15px;
    width: 25%;
  }

  .meme-item {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: left;

    img {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 5px;
      border: 2px solid #000;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(65%);
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      color: #f1f1f1;
      text-align: center;
      margin: auto;
      width: 80%;
      animation-name: fadeIn;
      animation-duration: .5s;
      font-size: 16px;
    }

    .no-text {
      display: none;
    }

    .darken-img {
      background-color: #808080;
      filter: brightness(85%);
      animation-name: darken;
      animation-duration: 1s;
    }

    @keyframes darken {
      from { filter: brightness(65%) }
      to { filter: brightness(85%) }
    }

    @keyframes fade-in {
      from { opacity: 0; }
      to { opacity: 100; }
    }
  }

  .my-meme-img {
    position: relative;
    display: inline-block;
    margin: 15px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #000;
  }
}